<ion-view view-title="Location">
    <!--<ion-nav-title>-->
        <!--{{ vm.hotspot.name }}-->
    <!--</ion-nav-title>-->
    <ion-content>
        <div>
            {{ vm.lat }} {{ vm.lon }}
        </div>
        <ion-list>
            <ion-item class="text-center" ng-hide="vm.places">
                <ion-spinner></ion-spinner>
            </ion-item>
            <div ng-repeat="place in vm.places">
                <ng-include src="'templates/place.html'"></ng-include>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
