<ion-view view-title="Nearby">
    <ion-nav-buttons side="Secondary">
        <button class="button" ng-click="vm.share()">
            <i class="icon ion-share"></i>
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list>
            <ion-item class="text-center" ng-hide="vm.places">
                <ion-spinner></ion-spinner>
            </ion-item>
            <ion-item ng-show="vm.isUsingDefault" class="item-text-wrap">
                No places in your area, showing Brisbane, Australia.
            </ion-item>
            <div ng-repeat="place in vm.places">
                <ng-include src="'templates/place.html'"></ng-include>
            </div>

            <a ui-sref="tab.hotspots-show({hotspotId: 1, lat: hotspot.latitude, lon: hotspot.longitude})"
               class="item item-avatar"
               ng-repeat="hotspot in vm.hotspots">
                <img src="http://placehold.it/50x50">
                <h2>{{ hotspot.name }} ({{ hotspot.count }} places)</h2>
                <p>{{ hotspot.known_for }}</p>
                <p>{{ hotspot.distance | number:1}} km</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
